/* src/Background.css */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #fff;
  }
  
  /* Twinkling animation */
  @keyframes twinkle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .twinkling {
    animation: twinkle 1.5s infinite;
  }
  